PORT=3000
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=cluster0.bnqbfbg.mongodb.net
MONGODB_DB=your_db_name

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=smtp-user@example.com
SMTP_PASSWORD=example-smtp-password
SMTP_FROM=no-reply@example.com

JWT_SECRET=your_jwt_secret_key
APP_DOMAIN=http://localhost:3000
